/* Inputs y textarea estilo más oscuro */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
select {
    background-color: #d6d6d6; /* gris clarito */
    border: 1px solid #b5b5b5; /* gris medio */
    color: #111827; /* texto gris oscuro */
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

/* Enfocado */
input:focus,
textarea:focus,
select:focus {
    background-color: #d6d6d6; /* un poco más oscuro al focus */
    border-color: #6366f1; /* highlight con tu color primario */
    outline: none;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.3); /* sombra suave */
}
